@import url('https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap');

.about {
    padding: 0px 0px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
  }
  
  .timeline-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  
  .timeline-container h2 {
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .timeline {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
  }
  
  .timeline-item {
    display: flex;
    align-items: center;
    gap: 20px;
    position: relative;
  }
  
  .timeline-year {
    flex: 0 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  
  .timeline-year span {
    background-color: black;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 25px;
  }
  
  .timeline-line {
    width: 2px;
    background-color: black;
    height: 350%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
  }
  
  .timeline-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    flex: 1;
  }
  
  .timeline-content h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
  }
  
  .timeline-content p {
    font-size: 1.1em;
    margin: 0;
    font-family: "Garamond";
  }
  
  
  /* Responsive Styles */
  @media (max-width: 768px) {
    .timeline-item {
      flex-direction: column;
      text-align: center;
    }
  
    .timeline-year {
      flex: 0 0 auto;
      margin-bottom: 10px;
    }
  
    .timeline-line {
      display: none;
    }
  }
   